.testimonial-section {
    background-color: #0D1413;
    color: white;
    padding: 20px;
    position: relative;
}

.testimonial-section h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}

.testName {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    margin: 10px 0;
}

.subtitle {
    text-align: center;
    max-width: 90%;
    margin: 0 auto 20px;
    font-size: 14px;
}

.carousel-container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease;
}

.testimonial-card {
    background: #1B2B28;
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    min-width: 250px;
    box-sizing: border-box;
}

.testimonialInfo {
    font-size: 12px !important;
    font-weight: 500;
    line-height: 1.4;
    text-align: left;
}

.testimonial-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.avatar {
    width: 30px;
    height: 30px;
    /* background-color: #4a4a4a; */
    border-radius: 50%;
}
.avatar img{
    width:30px;
    height: 30px;
}
.name-rating h3 {
    margin: 0;
    font-size: 14px;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@media (max-width: 768px) {
    .testimonial-header{
        gap:40px;
    }
    .testimonial-section h1 {
        font-size: 24px;
    }

    .testName {
        font-size: 16px;
    }

    .subtitle {
        font-size: 12px;
    }

    .carousel {
        flex-wrap: nowrap;
    }

    .testimonial-card {
        min-width: 80%;
    }
}

@media (max-width: 480px) {
    .testimonial-card {
        min-width: 100%;
    }

    .nav-button {
        font-size: 16px;
        padding: 8px;
    }
}